 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      color: red;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 600px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* added to fix as issue with the modal popup */
    .fade.in {
    	opacity: 1;
  	}
	   .modal.in .modal-dialog {
  		-webkit-transform: translate(0, 0);
  		-o-transform: translate(0, 0);
  		transform: translate(0, 0);
	   }
	   .modal-backdrop.in {
  	   opacity: 0.5;
	   }
    /* ------------ */
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    .body-title{
      margin-top: 20px;
      font-size: 30px;
      font-weight: bold;
    }
    .dropdown-menu{
      position: absolute; 
      will-change: transform; 
      top: 0px; 
      left: 0px; 
      transform: translate3d(0px, 38px, 0px);
    }
    .card-title{
      font-size: 20px;
      font-weight: bold;
    }
    .group-buttons{
      margin-bottom: 20px;
      width:370px;
      margin: auto;
    }
    .table1{
      height:50%;
      overflow: auto;
      margin-top: 20px;
      font-size: 10px;
      height: 400px;
      overflow: auto;
    }
    .progress{
      margin: 15px;
    }
    .error{
      color:red;
    }
